body{
    background-color:white;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: darkgray;
    background-color: white;
    height: 50px;
    text-align: center;
}
.title1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: darkgray;
}
.articulo{
    margin: 50px;
    padding: 50px;
    border: solid;
    background-color:white;
}
nav{
    background-color: white;
    height: 100px;
}
/*input{
    width: 50%;
    padding: 5px;
    margin: 8px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
}*/
textarea{
    width: 50%;
}
.contacto{
    border-radius: 5px;
  background-color: #f2f2f2;
    margin: 50px;
    text-align: center;
}
.producto{
    border: 1px solid black;
    margin: 50px;
    margin-left: 400px;
    background-color: cadetblue;
}
.fila{
    border: 1px solid black;
    margin: 50px;
    margin-left: 400px;
    background-color: rosybrown;
}
.radio{
    
    padding: 5px;
    margin: 8px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
}
.busqueda{
    background-color: chocolate;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 100px;
}
